@font-face {
  font-family: 'Ubuntu';
  src: url('/assets/fonts/Ubuntu-Medium.ttf') format('truetype');
       font-weight: 500;
        font-style: normal;
        font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('/assets/fonts/Ubuntu-Regular.ttf') format('truetype');
       font-weight: 400;
        font-style: normal;
        font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/assets/fonts/Ubuntu-Bold.ttf') format('truetype');
       font-weight: 700;
        font-style: normal;
        font-display: swap;
}



:root {

--clr-blue-100: hsl(218, 100%, 97%);
--clr-white-0: hslab(100% 0.01 -0.01)
--clr-purple-200: hsl(229, 24%, 87%);
--clr-gray-500: hsl(231, 11%, 63%);
--clr-blue-50: hsl(231, 100%, 99%);
--clr-neutral-0: (0, 100%, 100%);
--clr-purple-600: hsl(243, 100%, 62%);
--clr-red-500: hsl(354, 84%, 57%);
--clr-blue-200: hsl(206, 94%, 87%);
--clr-blue-300: hsl(228, 100%, 84%);
--clr-blue-950: hsl(213, 96%, 18%);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --ff-primary: 'Ubuntu', sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-100: 0.875rem; /* 14px */
  --fs-200: 1rem;     /* 16px */
  --fs-300: 1.125rem; /* 18px */
  --fs-400: 1.25rem;  /* 20px */
  --fs-500: 1.5rem;   /* 24px */
  --fs-600: 1.875rem; /* 30px */
  --fs-700: 2.25rem;  /* 36px */
  --fs-800: 3rem;     /* 48px */
  --fs-900: 3.75rem;  /* 60px */
  --fs-1000: 4.5rem;  /* 72px */
  
  --fs-body:var(--fs-200);
}
.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-medium {
  font-weight: var(--fw-medium);
}
.fw-bold {
  font-weight: var(--fw-bold);
}
.fs-100 {
  font-size: var(--fs-100) !important;
}
.fs-200 {
  font-size: var(--fs-200) !important;
}
.fs-300 {
  font-size: var(--fs-300) !important;
}
.fs-400 {
  font-size: var(--fs-400) !important;
}
.fs-500 {
  font-size: var(--fs-500) !important;  
}
.fs-600 {
  font-size: var(--fs-600) !important;
}
.fs-700 {
  font-size: var(--fs-700) !important;
}
.fs-800 {
  font-size: var(--fs-800) !important;
}
.fs-900 {
  font-size: var(--fs-900) !important;
}
.fs-1000 {
  font-size: var(--fs-1000) !important;
}
.clr-blue-950{
  color: var(--clr-blue-950) !important;
}
.clr-blue-300{
  color: var(--clr-blue-300) !important;
}
.bg-blue-950{
  background-color: var(--clr-blue-950) !important;
}
.clr-blue-200{
  color: var(--clr-blue-200) !important;
}
.bg-blue-300{
  background-color: var(--clr-blue-300) !important;
}
.bg-blue-200{
  background-color: var(--clr-blue-200) !important;
}

.ff-primary {
  font-family: var(--ff-primary);
}

.clr-gray-500 {
  color: var(--clr-gray-500) !important;
}
.clr-purple-200 {
  color: var(--clr-purple-200) !important;
}
.clr-blue-100 {
  color: var(--clr-blue-100) !important;
}
.clr-blue-50 {
  color: var(--clr-blue-50) !important;
}
.clr-white-0 {
  color: var(--clr-white-0) !important;
}
.clr-purple-600 {
  color: var(--clr-purple-600) !important;
}
.clr-red-500 {
  color: var(--clr-red-500) !important;
}
.bg-gray-500{
  background-color: var(--clr-gray-500) !important;
}
.bg-purple-200{
  background-color: var(--clr-purple-200) !important;
}
.bg-blue-100{
  background-color: var(--clr-blue-100) !important;
}
.bg-blue-50{
  background-color: var(--clr-blue-50) !important;
}
.bg-white-0{
  background-color: var(--clr-white-0) !important;
}
.bg-purple-600{
  background-color: var(--clr-purple-600) !important;
}
.bg-red-500{
  background-color: var(--clr-red-500) !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  margin: 0;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: var(--fs-body) !important;
  font-family: var(--ff-primary) !important;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}
::placeholder{
  opacity: 0.8;
  font-weight: 400 !important;
}
input,
button,
textarea,
select {
  font: inherit;
}
#infoWrapper{
  position: relative;
}
.form-wrapper{
  position: absolute;
  top: 60%;
  left:5%;

}
.custom-toggle-container {
    display: inline-block;
    vertical-align: middle;
}

.custom-checkbox {
    display: none;
}

.custom-slider {
    position: relative;
    cursor: pointer;
    width: 50px; 
    height: 24px;
    background-color: var(--clr-blue-950);
    border-radius: 34px;
    display: block;
    transition: background-color 0.3s;
}

.custom-checkbox:checked + .custom-slider {
    background-color: var(--clr-blue-950);
}

.custom-slider::before {
    content: "";
    position: absolute;
    left: 4px; 
    bottom: 3px; 
    width: 18px;
    height: 18px; 
    background-color: white; 
    border-radius: 50%; 
    transition: transform 0.3s;
}
.cursor-pointer{
  cursor: pointer;
}
.active{
  color: #000 !important;
  background-color: #bfe2fd !important;
border: 1px solid #bfe2fd !important;
}


.custom-checkbox:checked + .custom-slider::before {
    transform: translateX(24px);
}
input.checkbox{
  accent-color: var(--clr-purple-600);
  transform: scale(1.5);
  vertical-align: middle;
  border: 1px solid rgba(22, 22, 22,0.2) !important;
}

.item-hover:hover{
   border: 1px solid var(--clr-purple-600) !important;
}
input.active-label:focus,
input.active-label:active {
    border: 1px solid var(--clr-purple-600) !important;
    box-shadow: none !important;
}

#changeItems:hover{
  color: var(--clr-purple-600) !important;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@media (min-width:576px) {
  .form-wrapper{
  position: absolute;
  top: 60%;
  left:5%;

}

}

@media (min-width:768px) {

.form-wrapper{
  position: relative;
    top: auto;
    left: auto;
    bottom: auto;

}
.container-holder {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto !important;
}
.info-wrapper{
  width: 100%;
}
.text-w{
  width: 90% !important;
}



.img-wrapper{
  width: 50%;
}
div.controls{
  left: 6% !important;
  top: 13% !important;
  width: auto !important;

}
div.controls li{
    font-size: var(--fs-100) !important;
    padding: 0.5rem 0.875rem !important;
}
div.shadow-md-none{
  box-shadow: none !important;
}
div.rounded-md-2{
  border-radius: 0.375rem !important;
}
.info-wrapper{
  background-color: white;
  border-radius: 0.85rem;
}
.grid-container{
  grid-template-columns: 1fr 1fr 1fr ;
}
.plan-container{
  height: 170px;
  min-width: 110px ;
}
}
@media (min-width:992px) {
  .content-wrapper{
    width: 90%;
  }
  .fs-lg-600{
  font-size: var(--fs-700) !important;
}
.fs-lg-300{
  font-size: var(--fs-400) !important;
}
.nxt-control{
  left: -14% !important;
}
.fs-lg-200{
  font-size: var(--fs-300) !important;
}
.plan-container{
  height: 200px;
}
.ml-lg{
  margin-left: 6rem !important;
}
.fs-lg-100{
  font-size: var(--fs-200) !important;
}
}